@font-face{
    font-family: "fgb";
    src: url("../font/AbadiMTCondensed.ttf");
}
.font-fgb{
    font-family: "fgb";
}
/*.nav-font-size{
    font-size: 20px;
}*/
.azul-text{
    color: #141939;
}
.azul-background{
    background-color: #141939;
}
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{
    line-height: 83px;
}
.logo{
    height:53px; 
    margin-top: 15px;
}
.dropdown-content li>a{
    color: #141939;
}
.line{
    border-left: 1px solid #141939;
    height: 450px;
}
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
.input-field input[type=tel]:focus + label {
    color: #000 !important;
}
.input-field textarea:focus + label {
    color: #000 !important;
}
.row .input-field input:focus {
    border-bottom: 1px solid #141939 !important;
    box-shadow: 0 1px 0 0 #141939 !important
}
.row .input-field textarea:focus {
    border-bottom: 1px solid #141939 !important;
    box-shadow: 0 1px 0 0 #141939 !important
}
.row .col{
    /*padding-left: 0;*/
}